.title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 118.75%;
    text-transform: uppercase;
    color: #000000;

    @media (max-width: $md2) {
        font-size: 1.625rem;
    }

    @media (max-width: $md3) {
        font-size: 1.375rem;
    }
}








// =================================================================
._ibg {
    position: relative;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}